{% load static %} 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href={% static "DiaryTune/css/tutorial/tutorial_styleguide.css" %} />
    <link rel="stylesheet" href={% static "DiaryTune/css/tutorial/tutorial_style_7.css" %} />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
  <link rel="icon"  sizes="32x32" href={% static "DiaryTune/images/music.ico" %}>
  <body style="margin: 0;">
    <div class="tutorial_7">
      <div class="div">
        <div class="overlap-wrapper-2">
          <div class="overlap-7"><div class="text-wrapper-9">Tutorial</div></div>
        </div>
        <!--Scroll 불가능-->
        <div class='non-scroll'>
          <!--상단바-->
          <div class="bar">
            <div class="date" >10월 15일 (화) </div>
            <img class="modify" src={% static "DiaryTune/images/modify.png" %} />
            <img class="trash" src={% static "DiaryTune/images/trash.png" %} />
            <img class="back" src={% static "DiaryTune/images/back.png" %} />
            <div class="line1"></div>
          </div>
          <div class="line2"></div>

          <!--Overview-->
          <div class="view-3">
            <div class="overlap-3">
              <div class="group"><img class="group-2" src={% static "DiaryTune/images/sentiment_표정_5.png" %} /></div>
              <img class="group-3" src={% static "DiaryTune/images/음표머리.png" %} />
            </div>
          </div>
          
          <div class="summ">
              <div class="hashtags"># 행복한</div>
              <div class="musics">🎵ROSÉ - APT.</div>
          </div>
          <div class="weather_activity">
            <img class="weather1" src="{% static 'DiaryTune/images/쇼핑.png' %}" alt="쇼핑" />
            <img class="weather2" src="{% static 'DiaryTune/images/비.png' %}" alt="비" />
            <img class="activity1" src="{% static 'DiaryTune/images/폭풍.png' %}" alt="폭풍" />
          </div>
        </div>      

        <!--Scroll 가능-->
        <div class='scroll'>
            <!--일기 부분-->
          <div class="today-diary">
            <div class="blackbox"><div class="text-diary">오늘의 일기</div></div>
          </div>

          <div class="diary">
            <div class="diarybox">
                <div class="text-diary-content">날 위한 파티가 있었다. 그건 바로? 나의 생일파티~~~ 오랜만에 친구들을 많이 봐서 좋았다 <br />다들 일하느라
                    바쁜데 날 위해 시간을 내주다니.. 감동이야~~</div>
              </div>
          </div>

          <!--감정 부분-->
          <div class="today-emotion">
            <div class="blackbox"><div class="text-emotion">오늘의 감정</div></div>
          </div>

          <div class="emotion">
            <div class="emotionbox">
              <div class="emotions">
                <div class="hashtag1"># 감사한</div>
                <div class="hashtag2"># 행복한</div>
                <div class="hashtag3"># 신나는</div>
              </div>
              {% comment %} musical note 지우고 여기서 overlap-3랑 group, group-2, group-3 가져오기 {% endcomment %}
              <div class="overlap-3">
                <div class="group"><img class="group-2" src={% static "DiaryTune/images/sentiment_표정_5.png" %} /></div>
                <img class="group-3" src={% static "DiaryTune/images/음표머리.png" %} />
              </div>
            </div>
          </div>

          <!--음악 부분-->
          <div class="today-music">
            <div class="blackbox"><div class="text-music">오늘의 노래</div></div>
          </div>

          <div class="music">
            <div class="musicbox">
              <img id="heart" class="heart" src="{% static 'DiaryTune/images/heart-1.png' %}" data-heart-on="{% static 'DiaryTune/images/heart-2.png' %}" data-heart-off="{% static 'DiaryTune/images/heart-1.png' %}" alt="Heart Image" />
              <div class="music_description">[노래 설명] <br><br> 간단하면서 재미있고 분위기를 띄우는 데 최적화된 노래</div>
              <div class="music_recommendation">[추천 이유]<br><br>따뜻하고 감동적인 분위기가 생일파티의 소중한 순간을 떠올리게 하며, 친구들과의 특별한 시간을 더욱 의미 있게 기억하는 데 도움을 드립니다. </div>
              <div class="music_title">🎵ROSÉ - APT.</div>
              <div class="PLAY">
                <div id = 'play-btn' class="PLAY-btn">
                  <img class="polygon" src={% static "DiaryTune/images/play.png" %} />
                  <div class="text-play">PLAY</div>
                </div>
              </div>
            </div>
          </div>

          <div class="view-4">
            <div class="overlap-4">
              <div class="rectangle-2"></div>
              <div class="text-wrapper-3">7/7</div>
              <p class="text-wrapper-4">추천된 음악이 적절하다면 하트를 눌러주세요</p>
              <img class="arrow-right-circle" src={% static "DiaryTune/images/end.png" %} onclick="location.href='{% url 'main' %}'" style="cursor: pointer;" />
            </div>
          </div>


        </div>
      </div>
    </div>

    <script src={% static "DiaryTune/js/tutorial/tutorial.js" %}></script>
  </body>
</html>